/* Cascading Style Sheets (CSS) */

body,h1,h2,ul,li{
    /*Zera os espeços do navegador*/
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.center{
    margin-left: auto;
    margin-right: auto;
}
#mensagem{
    width: 800px;
    height: 300px;
    padding-left: 0px;
    padding-top: 20px;
}

#container{
    width: 1200px;
    height: inherit;
    padding-bottom: 50px; 
}

.titulo{
    width: inherit;
    height: 50px;
    box-sizing: border-box;
    padding-top: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: bold;
}

.titulo span{
    font-size: 40px;
    color: rgb(91, 91, 90);
    letter-spacing: 7px;
}

.produtos{
    width: inherit;
    min-height: 200px;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
    padding-top: 30px;
    padding-left: 10px;
}

.caixa_produto{
    width: 250px;
    height: 400px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    box-shadow: 10px 10px 10px #cccccc;
    border-radius: 10px;
}

.caixa_titulo{
    width: inherit;
    height: 60px;
    background-color: #372136;
    font-family: verdana;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    box-sizing: border-box;
    padding-top: 15px;
    border-radius: 5px 5px 0 0 ;
}
.botao-comprar{
    padding: 10px 20px;
    background-color: #603E4E;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eee;
    font-weight: bold;
    cursor: pointer;
}

.container-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.container-button button{
    padding: 10px 25px;
    opacity: .8;
    transition: opacity 200ms ease-in-out;
}

.container-button button:hover{
    opacity: 1;
}


.caixa_imagem img{
    width: 100%;
    height: inherit;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
    max-height: 260px;
    max-width: 200px;
    display: flex;
    align-items: center;
}


.caixa_texto{
    width: inherit;
    height: 200px;
    font-family: sans-serif;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    box-sizing: border-box;
    padding-top: 10px;
    color: #000000;

}

.valor-filme{
    font-weight: bold;
    font-size: 15px;
}

i{
    margin-left: 5px;
    margin-top: 1px;
}



